<a href="https://colab.research.google.com/github/Myavuzars/MachineLearning/blob/main/Income_2_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from numpy import mean
from numpy import std
from numpy import hstack
from pandas import read_csv
from collections import Counter
from matplotlib import pyplot

from sklearn import tree
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import cross_val_score
from sklearn.dummy import DummyClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import Normalizer
from sklearn.pipeline import Pipeline

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
incomedf = pd.read_csv(
    "/content/drive/MyDrive/Colab Notebooks/Machine Learning /Income/adult.csv")

incomedf.head(4)

   id  age         workclass  ...  hours_per_week native_country  income
0   1   39         State-gov  ...              40  United-States   <=50K
1   2   50  Self-emp-not-inc  ...              13  United-States   <=50K
2   3   38           Private  ...              40  United-States   <=50K
3   4   53           Private  ...              40  United-States   <=50K

[4 rows x 16 columns]

In [4]:
#Unique names for a column
def unique_names(column_name):
  return pd.unique(incomedf[column_name])

unique_names('workclass')

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', '?', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [5]:
unique_list={}

for col in incomedf.columns:
  unique_list[col]= pd.unique(incomedf[col])

In [6]:
cols=[]
for key, val in unique_list.items():
  if "?" in val:
    cols.append(key)
cols

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  This is separate from the ipykernel package so we can avoid doing imports until

['workclass', 'occupation', 'native_country']

In [7]:
#Dealing with Missing Values (remove the items with Question Marks)
incomedf = incomedf[incomedf.workclass != "?"]
incomedf = incomedf[incomedf.occupation != "?"]
incomedf = incomedf[incomedf.native_country != "?"]
len(incomedf.index)

30162

Class=<=50K, Count=22654, Percentage=75.108%
Class=>50K, Count=7508, Percentage=24.892%
['<=50K' '<=50K' '<=50K' ... '<=50K' '<=50K' '>50K']

In [9]:
# Prepare the dataset
def load_dataset(dataframe):
	# split into inputs and outputs
	dataframe = dataframe.drop(["id", "education_num"], axis="columns")
	last_ix = len(dataframe.columns) - 1
	X, y = dataframe.drop(dataframe.columns[last_ix], axis=1), dataframe[dataframe.columns[last_ix]]
	# select categorical and numerical features
	cat_ix = X.select_dtypes(include=['object', 'bool']).columns
	num_ix = X.select_dtypes(include=['int64', 'float64']).columns
	# label encode the target variable to have the classes 0 and 1
	y = LabelEncoder().fit_transform(y)
	return X, y, cat_ix, num_ix

# define the location of the dataset
dataframe = incomedf
# load the dataset
X, y, cat_ix, num_ix = load_dataset(dataframe)
X.head()

   age         workclass  fnlwgt  ... capital_loss hours_per_week native_country
0   39         State-gov   77516  ...            0             40  United-States
1   50  Self-emp-not-inc   83311  ...            0             13  United-States
2   38           Private  215646  ...            0             40  United-States
3   53           Private  234721  ...            0             40  United-States
4   28           Private  338409  ...            0             40           Cuba

[5 rows x 13 columns]

In [10]:
cat_ix

Index(['workclass', 'education', 'marital_status', 'occupation',
       'relationship', 'race', 'sex', 'native_country'],
      dtype='object')

In [11]:
#One hot encoding for categorical variables
df = pd.get_dummies(X, columns = cat_ix, drop_first = False)
#X = X.join(df)
df.head()

   age  fnlwgt  ...  native_country_Vietnam  native_country_Yugoslavia
0   39   77516  ...                       0                          0
1   50   83311  ...                       0                          0
2   38  215646  ...                       0                          0
3   53  234721  ...                       0                          0
4   28  338409  ...                       0                          0

[5 rows x 103 columns]

In [12]:
num_ix

Index(['age', 'fnlwgt', 'capital_gain', 'capital_loss', 'hours_per_week'], dtype='object')

In [13]:
df[num_ix] = df[num_ix].astype('float64')

In [14]:
#Scaling the variables
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[num_ix] = scaler.fit_transform(df[num_ix])
df

            age    fnlwgt  ...  native_country_Vietnam  native_country_Yugoslavia
0      0.301370  0.043338  ...                       0                          0
1      0.452055  0.047277  ...                       0                          0
2      0.287671  0.137244  ...                       0                          0
3      0.493151  0.150212  ...                       0                          0
4      0.150685  0.220703  ...                       0                          0
...         ...       ...  ...                     ...                        ...
32556  0.136986  0.165563  ...                       0                          0
32557  0.315068  0.095589  ...                       0                          0
32558  0.561644  0.093914  ...                       0                          0
32559  0.068493  0.127620  ...                       0                          0
32560  0.479452  0.186383  ...                       0                          0

[30162 rows x 103 columns]

In [15]:
#Creating a training daat set
X = df.copy(deep = True)

In [16]:
X.head(2)

        age    fnlwgt  ...  native_country_Vietnam  native_country_Yugoslavia
0  0.301370  0.043338  ...                       0                          0
1  0.452055  0.047277  ...                       0                          0

[2 rows x 103 columns]

#Evaluate Machine Learning Algorithms
Dummy Classifier (to see our base accuracy rate.)

Decision Tree (CART)

Support Vector Machine (SVM)

Bagged Decision Trees (BAG)

Random Forest (RF)

Gradient Boosting Machine (GBM)

In [17]:
from sklearn.model_selection import RepeatedStratifiedKFold
#Model
def evaluate_model(X, y, model):
	# define evaluation procedure
	cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
	# evaluate model
	scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
	return scores

**DummyClassifier** is a classifier that makes predictions using simple rules.

This classifier is useful as a simple baseline to compare with other (real) classifiers

In [18]:
#Dummy Classifieer
from sklearn.dummy import DummyClassifier
# define the reference model
model = DummyClassifier(strategy='most_frequent')

In [19]:
# Evaluate the model
scores = evaluate_model(X, y, model)
# summarize performance
print('Mean Accuracy: %.3f'  % (mean(scores)))

Mean Accuracy: 0.751

In [32]:
# We can also find the same result with class distribution
target = incomedf.values[:,-1]
counter = Counter(target)
for k,v in counter.items():
	per = v / len(target) * 100
	print('Class=%s, Count=%d, Percentage=%.3f%%' % (k, v, per))

Class=<=50K, Count=22654, Percentage=75.108%
Class=>50K, Count=7508, Percentage=24.892%

In [20]:
#Decision Tree (CART)
from sklearn import tree
model1= tree.DecisionTreeClassifier()

In [21]:
# Evaluate the model
scores = evaluate_model(X, y, model1)
# summarize performance
print('Mean Accuracy: %.3f'  % (mean(scores)))

Mean Accuracy: 0.811

In [22]:
#Support Vector Machine (SVM)
from sklearn import svm
from sklearn.svm import SVC
model2= SVC(gamma='scale')

In [23]:
# Evaluate the model
scores = evaluate_model(X, y, model2)
# summarize performance
print('Mean Accuracy: %.3f'  % (mean(scores)))

/usr/local/lib/python3.7/dist-packages/joblib/externals/loky/process_executor.py:691: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning

Mean Accuracy: 0.835

In [24]:
#Bagged Decision Trees (BAG)
from sklearn.ensemble import BaggingClassifier
model4 =BaggingClassifier(n_estimators=100)

In [25]:
# Evaluate the model
scores = evaluate_model(X, y, model4)
# summarize performance
print('Mean Accuracy: %.3f'  % (mean(scores)))

Mean Accuracy: 0.851

In [26]:
#Random Forest (RF)
from sklearn.ensemble import RandomForestClassifier
model3 = RandomForestClassifier()

In [27]:
# Evaluate the model
scores = evaluate_model(X, y, model3)
# summarize performance
print('Mean Accuracy: %.3f'  % (mean(scores)))

Mean Accuracy: 0.850

In [28]:
#Gradient Boosting Machine (GBM)
from sklearn.ensemble import GradientBoostingClassifier
model5 =GradientBoostingClassifier(n_estimators=100)

In [29]:
# Evaluate the model
scores = evaluate_model(X, y, model5)
# summarize performance
print('Mean Accuracy: %.3f'  % (mean(scores)))

Mean Accuracy: 0.860